/* SIDEBAR TAGS */

ul.about-tags {
  @for $i from 1 to 8 {
    li:nth-child(#{$i}) a {
      background-color: nth($about-colours, $i);
    }

    li.active:nth-child(#{$i}) a {
      border-color: nth($about-colours, $i);
      border-bottom-color: darken(nth($about-colours, $i), 15%);
    }
  }
}

/* ARTICLES */

section.about-articles {
  ul.images {
    padding: 0;
    overflow: hidden;
    margin-bottom: 2em;

    li {
      float: left;
      width: 33%;
      text-align: center;

      div {
        line-height: 15em;
      }

      img {
        width: 90%;
        height: auto;
        vertical-align:middle;
      }
    }
  }

  ul.tags {
    margin-bottom: 0.5em;

    a {
      color: #0f0f0f;
      font-family: Raleway, sans-serif;
    }
  }

  @for $i from 1 to 8 {
    article:nth-of-type(#{$i}) {
      .chapter {
        background-color: nth($about-colours, $i);
      }

      h3:before, h4:before, h5:before {
        color: nth($about-colours, $i);
      }

      ul.tags li a {
        background-color: scale-color(nth($about-colours, $i), $lightness: 20%);
      }
    }
  }
}

/* READ MORE */

.element-hidden {
  display: none;
}

.element-shown {
  display: initial;
}
