/* SIDEBAR TAGS */

.cat-links a, li.cat-item a {
  display: inline-block;
  background-color: $button-colour;
  padding: 0.1em 0.3em;
  color: white;
  border-radius: 0.2em;
}

/* News */
.cat-links a[href$="/news/"], li.cat-item a[href$="/news/"] {
  background-color: nth($blog-colours, 1);
}

/* ARTICLES */

section.blog-articles {
  article {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 2.6em;

    a {
      color: #333;
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 1em;
      font-weight: 700;
    }
  }

  ul.tags a {
    color: #0f0f0f;
  }
}

/* GALLERY */

div.hslice {
  @include outer-container;
  margin-top: 1em;
  overflow: hidden;

  a {
    display: inline-block;
    @include span-columns(4);
    width: 33.33%;
    margin: 0;
    float: left;
    line-height: 0.7em;

    img {
      width: 100%;
    }
  }

  span.entry-title {
    display: block;
    margin-bottom: 0.5em;
  }
}

.view-all-photos {
  margin-right: 1em;
}
