$green: #8BCE33;
$header-link-color: #111;
$header-underline: #e0272a;
$header-bottom-shadow: rgba(40, 40, 40, 0.6);
$donate-colour: #e0272a;
$button-font-color: #fff;
$footer-background-colour: #222;

$button-colour: #379A81;

$tweet-colour: #DEE3C1;
$tweet-bird: #919279;
$news-colour: #B4C63F,
              #77D4B7,
              #88BE4A;
$news-read-more: #0096af;

$grid-item-colors:  #47caaa,
                    #a9ca47,
                    #4CA4A4,
                    transparent,
                    #31A782,
                    #919279,
                    #BDCC97,
                    #5FBEBE;

$home-accordion-colours:  #3EA38A,
                          #89ba00,
                          #0096af,
                          #f93845;

$home-illustration-colour-button: #febd4d;
$home-illustration-colour-back: #4ca3a3;
$home-illustration-colour-third: #31659a;

$grid-item-share: #DEE3C1;

/* REPORT */
$report-colours:  #f93845,
                  #ff761c,
                  #AE5693,
                  #89ba00,
                  #0096af,
                  #B18904,
                  #febd4d,
                  #31659a,
                  #379A81;

$report-table-red: #c93e53;
$report-table-green: #b1c70d;
$report-table-yellow: #fece00;
$report-table-orange: #f39000;

/* ABOUT */
$about-colours:   #f93845,
                  #0096af,
                  #89ba00,
                  #AE5693,
                  #ff761c,
                  #B18904,
                  #4CA4A4;

/* BLOG */
$blog-colours:    #f93845,
                  #0096af,
                  #89ba00,
                  #AE5693;

$square-colours:  #47caaa,
                  #a9ca47,
                  #5FBEBE,
                  #4CA4A4,
                  #8cc24c,
                  #919279,
                  #BDCC97,
                  #5FBEBE;

/* CONTACT */

$contact-colours: #a9ca47,
                  #5FBEBE,
                  transparent,
                  #4CA4A4,
                  #8cc24c,
                  #919279,
                  #BDCC97,
                  #5FBEBE;

/* DATA */

$data-map-background-color: #fff;
$data-table-background-color: #fff;
$data-selector-colours: #a9ca47,
                        #4CA4A4;

$data-mini-background-colours:  #f93845,
                                #0096af,
                                #005475,
                                #92c550,
                                #93947F,
                                #5C5D45;

$data-universal-access: #f93845;
$data-freedom-openness: #0096af;
$data-relevant-content-use: #89ba00;
$data-empowerment: #febd4d;

$data-up-arrow: #0096af;
$data-notification: #FDEBB1;
$data-info: #CEECF5;
$data-select-colours:   #f93845,
                  #0096af,
                  #89ba00;
$data-select-arrow-colour: #4CA4A4;

/* ERROR */

$error-water-colour: #317F7F;
$error-button: #71cb3a;
