/* SIGNATURE */

.signature {
  display: none;
}

.visor {
  color: #222 !important;
}

.data-container{
  .help {
      float: right;
      text-align: center;
      color: white;
      cursor: pointer;
      font-size: 0.8em;
  }

  h1 {
    margin-bottom: 0 !important;
  }

  .downloads {
    text-align: right;
  }

  .indicator-selector {
    height: 2.5em;
    overflow: hidden;
    background: url(../images/select_arrow.png) no-repeat right white;
    border: 0.1em solid white;

    select {
      width: 100%;
      background: transparent;
      padding: 0.2em 0.5em;
      line-height: 1;
      border: 0;
      border-radius: 0;
      height: 2.5em;
      -webkit-appearance: none;
      color: #333;
    }
  }
}

/* SELECT-BOX */

div.select-box {
  margin: 0.5em 0 !important;
  padding: 0;
  background-color: nth($data-select-colours, 1);

  > div {
    padding: 0.5em 0.5em 0.8em 0.5em;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  div.circle-number {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.8em;
    margin: 0 auto !important;
    background-color: darken(nth($data-select-colours, 1), 30%);
    color: white;
    text-align: center;
    border-radius: 50%;
  }

  img {
    width: 100%;
    margin: 0 0 -0.4em 0;
  }
}


div.select-box.first-box {
  background-color: nth($data-select-colours, 1);

  div.circle-number {
    background-color: darken(nth($data-select-colours, 1), 20%);
  }
}

div.select-box.second-box {
  background-color: nth($data-select-colours, 2);

  div.circle-number {
    background-color: darken(nth($data-select-colours, 2), 20%);
  }
}

div.select-box.third-box {
  background-color: nth($data-select-colours, 3);

  div.circle-number {
    background-color: darken(nth($data-select-colours, 3), 20%);
  }
}

div.first-box {
  margin-top: 2.4em !important;
}

/* TIMELINE */

div.timeline {
  div.line {
    a.circle {
      width: 1.5em;
      height: 1.5em;
      border: none;
      background-color: white;
    }
  }

  div.line:before {
    border: none;
  }

  div.line a.circle:hover, div.selected a.circle {
    background-color: darken(nth($data-select-colours, 2), 30%) !important;
  }

  div.element a {
    color: #333 !important;
    font-size: 0.9em;
  }
}

/* BOXES */

.data-box {
  padding: 0.5em;
  background-color: #aaa;

  header {
    border-bottom: 0.1em solid #999;
    overflow: hidden;
    margin-bottom: 1em;
  }

  h2 {
    @include span-columns(6);
    font-size: 1.7em;
    margin-bottom: 0.3em;
    color: #444;
    text-align: left;
  }
}

.map-box {
  background-color: $data-map-background-color;
  margin-top: 1.2em;
}

.table-box {
  background-color: $data-table-background-color;
  margin-top: 1em;

  header {
    border-color: #222;

    h2 {
      color: #222;
    }
  }

  .view-more a {

  }
}

div.middle-section {
  @include outer-container;
  margin-top: 1em;

  div {
    padding: 0;
  }

  div.box-mini {
    @include span-columns(3);
    background-color: #ccc;
    color: white;
    padding: 0.8em 0.5em 0.3em 0.5em;
    text-align: center;
    height: 10em;

    p {
      margin: 0.5em 0 0 0;
    }

    .value {
      font-size: 3em;
      font-family: "Roboto" sans-serif;
      font-weight: 300;
      margin: 0 0 0.2em 0;
      display: table-cell;
      vertical-align: middle;
      width: 10%;
      height: 2em;
    }

    .higher-lower {
      font-size: 2em;
      height: 3em;
    }
  }

  div.box-mini:first-child, div.box-mini:nth-child(2) {
    cursor: pointer;
  }

  @for $i from 1 to 5 {
    div.box-mini:nth-child(#{$i}) {
      background-color: nth($data-mini-background-colours, $i);
    }
  }
}

div.country-box {
  padding: 0.5em;

  h2 {

  }

  .tabs {
    width: 100%;
    float: none;

    li {
      width: 100%;
      text-align: left;
    }
  }

  .selector ul {
    font-size: 0.9em;

    a {
      color: #222;
    }

    li.selected a {
      color: #111;

      div.circle {
        background-color: darken(nth($data-select-colours, 3), 20%) !important;
        color: white;
      }
    }

    li {
      margin-bottom: 0.3em;
      vertical-align: middle;

      ul {
        padding-left: 2em;
      }

      div.title {
        margin-top: 0;
      }

      .plusOrMinus {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: 300;
        margin-right: 0.4em;
      }
    }

    div.circle {
      width: 1.3em;
      height: 1.3em;
      border: none;
      background-color: white;
      padding-top: 0;
      line-height: 1.2em;
    }
  }
}

/* MAP */

div.map {
  height: 32em;
  clear: both;

  .buttons {
    display: none;
  }

  .visor {
    background-color: transparent;
  }

  .wrapper {
    height: 27em;
  }

  .legend {
    height: 5em;
    padding: 0 2.5em;

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33.33%;
        padding: 0.2em 0;
      }
    }

    .circle {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      float: left;
      margin-top: 0.2em;
      margin-right: 0.5em;
    }
  }
}


/* BARS */

div.bars {
  height: 8.5em;
}

/* TABS */

nav.tabs {
  @include span-columns(6);
  margin-top: 0.2em;

  ul {
    overflow: hidden;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    width: 100%;
    float: right;

    li {
      float: left;
      width: 50%;
      text-align: center;

      a {
        color: #444;
      }
    }

    li.selected span.circle {
      background-color: #666;
    }
  }

  span.circle {
    display: inline-block;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: white;
  }
}

.charts-view > div:nth-child(2) {
  display: none;
}

table.full-ranking {
  table-layout: auto;
  color: black;

  th {
    text-align: center;
    font-weight: normal;
    border-bottom-color: darken($data-table-background-color, 20%);
  }

  img {
    vertical-align: middle;
    margin-right: 1em;
  }

  tr {
    cursor: pointer;
  }

  .circle {
    width: 2em;
    height: 2em;
    background-color: #666;
    color: white;
    padding-top: 0.2em;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }

  > thead {
    display: none;
  }

  > tbody {
    border-bottom: 0.1em solid #666;

    th {
      font-size: 0.7em;
      border-bottom-color: darken($data-table-background-color, 30%);
    }

    tbody {
      text-align: center;
    }
  }

  > tbody:hover {
    background-color: darken($data-table-background-color, 20%);
  }

  tr.tr-view-more {
    background-color: transparent;
  }

  tbody.hidden {
    display: none;
  }

  td {
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: none;
  }

  td[data-title="Country"] {
    width: 55%;
  }

  td[data-title="Rank"] {
    text-align: center;
    width: 15%;
  }

  td[data-title="Value"] {
    text-align: right;
    width: 15%;

    i {
      margin-left: 1em;
    }

    i.red {
      color: $data-down-arrow;
    }

    i.green {
      color: $data-up-arrow;
    }
  }

  td[data-title="Tendency"] {
    width: 15%;

    div {
      height: 2.5em;

      .wesCountry-body .signature {
        display: none;
      }
    }
  }

  td.view-more {
    text-align: right;
    border-bottom: none;
    padding-bottom: 0;

    a {
      cursor: pointer;
    }
  }
}
