.data-right-content {
  min-height: 60em;
  margin-top: 0.3em;
  position: relative;
}

/* TABS */

.first-section {
  background-color: white;
  padding-top: 0em;
  z-index: -1;
}

.first-section .fixed {
  top: 1em;
}

.tab.absolute {
  position: absolute;
  left: 0;
}

.tab {
  width: 100%;
  margin-top: -0.5em;

  > header {
    box-sizing: border-box;
    position: relative;
    min-height: 2.5em;

    div {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25%;
      max-width: 12em;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      margin-left: 0.5em;
      margin-bottom: -1px;
      padding: 0.4em  1em 0.6em 1em;
      border-radius: 3px 3px 0 0;
      box-shadow: 0 -5px 5px -5px #333;
      z-index: 1000;

      h2 {
        margin: 0;
        text-align: center;
        font-size: 1.1em;
      }

      i {
        margin-right: 0.5em;
        position: absolute;
        font-size: 1.4em;
      }
    }
  }

  > .tab-content {
    border-top: 1px solid #666;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0px 3px 3px #888, 0px -3px 3px #aaa;
    z-index: 0;
  }
}

.indicator-header {
  div {
    background-color: nth($data-select-colours, 1);
    border-top: 2px solid darken(nth($data-select-colours, 1), 20%) !important;
    border-left: 2px solid darken(nth($data-select-colours, 1), 20%) !important;
    color: darken(nth($data-select-colours, 1), 40%) !important;

    i {
      color: darken(nth($data-select-colours, 1), 30%);
    }
  }
}

.country-header {
  margin-left: 15% !important;

  div {
    background-color: nth($data-select-colours, 3);
    border-top: 2px solid darken(nth($data-select-colours, 3), 10%) !important;
    border-left: 2px solid darken(nth($data-select-colours, 3), 10%) !important;
    color: darken(nth($data-select-colours, 3), 25%) !important;

    i {
      color: darken(nth($data-select-colours, 3), 20%);
    }
  }
}

/* COLLAPSABLE */

.collapsable {
  background-color: white;
  padding: 0 0 0.5em 0;
  position: relative;
  overflow-y: hidden;

  .collapsable {
    padding: 0.5em 0 0 0;
    margin: 0.5em 0 0 0;
    border: none;
    border-top: 0.1em solid #eee;
    box-shadow: none;
  }

  .collapsable:first-child {
    border: none;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  section {
    padding: 0 0.5em;
  }

  section.info {

    label {
      color: #888;
      font-weight: 500;
      text-align: left;
      font-style: italic;
    }

    h2 {
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
      font-size: 1em;
      font-weight: 300;
      font-style: normal;
      margin-top: 0.2em;
      text-align: justify !important;
      padding: 0 !important;
    }
  }

  .icons {
    font-size: 0.8em;
    line-height: 1.25;
    padding-top: 0.1em;
    float: left;
    color: #999;

    i {
      margin-left: 1em;
    }

    i:first-child {
      margin-left: 0;
    }
  }

  span.full-details {
    float: right;
    margin-right: 1em;
    margin-top: -0.1em;
    font-size: 0.8em;
    color: #555;
    text-transform: lowercase;
  }

  .hierarchy2 {
    overflow: hidden;
    float: left;
    font-size: 0.8em;
    max-width: 95%;

    li {
      float: left;
      max-width: 25%;

      a {
        display: block;
        position: relative;
        float: left;
        border-radius: 0.2em;
        padding: 0.2em 0.4em;
        background-color: #ccc;
        color: #333;
        height: 3.6em;
        overflow: hidden;

        span {
          display: block;
          font-size: 0.8em;
        }

        span.type {
          font-size: 0.7em;
          text-transform: lowercase;
          width: 100%;
          text-align: center;
        }
      }

      a:after {
        content: " ";
      	display: block;
      	width: 0;
      	height: 0;
      	border-top: 50px solid transparent;
      	border-bottom: 50px solid transparent;
      	border-left: 30px solid hsla(34,85%,35%, 1);
      	position: absolute;
      	top: 50%;
      	margin-top: -50px;
      	left: 100%;
      	z-index: 2;
      }

      i {
        margin: 1.5em 0.5em 0 0.4em;
        float: left;
      }
    }

    .index a {
      display: table-cell;
      vertical-align: middle;
    }

    .subindex, .component, .indicator {
      display: none;
    }

    li.subindex[data-subindex="UNIVERSAL_ACCESS"] a {
      background-color: rgba($data-universal-access, 0.8);
    }

    li.component[data-subindex="UNIVERSAL_ACCESS"] a {
      background-color: rgba($data-universal-access, 0.5);
    }

    li.indicator[data-subindex="UNIVERSAL_ACCESS"] a {
      background-color: rgba($data-universal-access, 0.3);
    }

    li.subindex[data-subindex="FREEDOM_AND_OPENNESS"] a {
      background-color: rgba($data-freedom-openness, 0.8);
    }

    li.component[data-subindex="FREEDOM_AND_OPENNESS"] a {
      background-color: rgba($data-freedom-openness, 0.5);
    }

    li.indicator[data-subindex="FREEDOM_AND_OPENNESS"] a {
      background-color: rgba($data-freedom-openness, 0.3);
    }

    li.subindex[data-subindex="RELEVANT_CONTENT_AND_USE"] a {
      background-color: rgba($data-relevant-content-use, 0.8);
    }

    li.component[data-subindex="RELEVANT_CONTENT_AND_USE"] a {
      background-color: rgba($data-relevant-content-use, 0.5);
    }

    li.indicator[data-subindex="RELEVANT_CONTENT_AND_USE"] a {
      background-color: rgba($data-relevant-content-use, 0.3);
    }

    li.subindex[data-subindex="EMPOWERMENT"] a {
      background-color: rgba($data-empowerment, 0.8);
    }

    li.component[data-subindex="EMPOWERMENT"] a {
      background-color: rgba($data-empowerment, 0.5);
    }

    li.indicator[data-subindex="EMPOWERMENT"] a {
      background-color: rgba($data-empowerment, 0.3);
    }
  }

  .hierarchy {
		list-style: none;
		overflow: hidden;
		font: 18px Helvetica, Arial, Sans-Serif;

    li {
			float: left;
			max-width: 50%;
		}

    li a {
			color: #333;
			text-decoration: none;
			padding: 0.2em 0.2em 0.2em 3em;
			background-color: #ccc;
			position: relative;
			display: block;
			float: left;
      width: 100%;
			height: 3em;
			font-size: 0.7em;
		}

		li a:hover {
      background-color: #bbb;
    }

		li a span {
			display: block;
			font-size: 0.9em;
      height: 1.2em;
      overflow: hidden;
      width: 100%;
      text-align: center;
		}

    li a span.name {
      text-transform: capitalize;
    }

		li a span.type {
			font-size: 0.8em;
			margin-bottom: 0.2em;
      text-transform: lowercase;
		}

		li a:after {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid #ccc;
			position: absolute;
			top: 50%;
			margin-top: -50px;
			left: 100%;
			z-index: 2;
		}

    li a:hover:after {
      border-left-color: #bbb;
    }

    li a:before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid white;
			position: absolute;
			top: 50%;
			margin-top: -50px;
			margin-left: 0;
			left: 100%;
			z-index: 1;
		}

    li:first-child a {
			padding-left: 10px;

      span.type {
        text-transform: capitalize;
      }
		}

		li:first-child a span.type {
			font-size: 1em;
			margin-top: 0.7em;
		}

		li:last-child a:after { border: 0; }

    .subindex, .component, .indicator {
      display: none;
    }

    .index {
      width: 10%;
    }

    .subindex, .component {
      width: 20%;
    }

    .indicator {
      width: 100%;
    }

    li[data-subindex="UNIVERSAL_ACCESS"] a:hover {
      background-color: rgba($data-universal-access, 1) !important;
    }

    li[data-subindex="UNIVERSAL_ACCESS"] a:hover:after {
      border-left-color: rgba($data-universal-access, 1) !important;
    }

    li.subindex[data-subindex="UNIVERSAL_ACCESS"] a {
      background-color: rgba($data-universal-access, 0.8);
    }

    li.subindex[data-subindex="UNIVERSAL_ACCESS"] a:after {
      border-left-color: rgba($data-universal-access, 0.8);
    }

    li.component[data-subindex="UNIVERSAL_ACCESS"] a {
      background-color: rgba($data-universal-access, 0.5);
    }

    li.component[data-subindex="UNIVERSAL_ACCESS"] a:after {
      border-left-color: rgba($data-universal-access, 0.5);
    }

    li.indicator[data-subindex="UNIVERSAL_ACCESS"] a {
      background-color: rgba($data-universal-access, 0.3);
    }

    li[data-subindex="FREEDOM_AND_OPENNESS"] a:hover {
      background-color: rgba($data-freedom-openness, 1) !important;
    }

    li[data-subindex="FREEDOM_AND_OPENNESS"] a:hover:after {
      border-left-color: rgba($data-freedom-openness, 1) !important;
    }

    li.subindex[data-subindex="FREEDOM_AND_OPENNESS"] a {
      background-color: rgba($data-freedom-openness, 0.8);
    }

    li.subindex[data-subindex="FREEDOM_AND_OPENNESS"] a:after {
      border-left-color: rgba($data-freedom-openness, 0.8);
    }

    li.component[data-subindex="FREEDOM_AND_OPENNESS"] a {
      background-color: rgba($data-freedom-openness, 0.5);
    }

    li.component[data-subindex="FREEDOM_AND_OPENNESS"] a:after {
      border-left-color: rgba($data-freedom-openness, 0.5);
    }


    li.indicator[data-subindex="FREEDOM_AND_OPENNESS"] a {
      background-color: rgba($data-freedom-openness, 0.3);
    }

    li[data-subindex="RELEVANT_CONTENT_AND_USE"] a:hover {
      background-color: rgba($data-relevant-content-use, 1) !important;
    }

    li[data-subindex="RELEVANT_CONTENT_AND_USE"] a:hover:after {
      border-left-color: rgba($data-relevant-content-use, 1) !important;
    }

    li.subindex[data-subindex="RELEVANT_CONTENT_AND_USE"] a {
      background-color: rgba($data-relevant-content-use, 0.8);
    }

    li.subindex[data-subindex="RELEVANT_CONTENT_AND_USE"] a:after {
      border-left-color: rgba($data-relevant-content-use, 0.8);
    }

    li.component[data-subindex="RELEVANT_CONTENT_AND_USE"] a {
      background-color: rgba($data-relevant-content-use, 0.5);
    }

    li.component[data-subindex="RELEVANT_CONTENT_AND_USE"] a:after {
      border-left-color: rgba($data-relevant-content-use, 0.5);
    }

    li.indicator[data-subindex="RELEVANT_CONTENT_AND_USE"] a {
      background-color: rgba($data-relevant-content-use, 0.3);
    }

    li[data-subindex="EMPOWERMENT"] a:hover {
      background-color: rgba($data-empowerment, 1) !important;
    }

    li[data-subindex="EMPOWERMENT"] a:hover:after {
      border-left-color: rgba($data-empowerment, 1) !important;
    }

    li.subindex[data-subindex="EMPOWERMENT"] a {
      background-color: rgba($data-empowerment, 0.8);
    }

    li.subindex[data-subindex="EMPOWERMENT"] a:after {
      border-left-color: rgba($data-empowerment, 0.8);
    }

    li.component[data-subindex="EMPOWERMENT"] a {
      background-color: rgba($data-empowerment, 0.5);
    }

    li.component[data-subindex="EMPOWERMENT"] a:after {
      border-left-color: rgba($data-empowerment, 0.5);
    }

    li.indicator[data-subindex="EMPOWERMENT"] a {
      background-color: rgba($data-empowerment, 0.3);
    }
  }

  header.collapsable-header {
    font-size: 1.2em;
    margin: 0 !important;
    overflow: hidden;
    padding: 0.2em  0.5em;

    h2 {
      float: left;
      text-align: left;
      font-size: 1em;
      margin: 0 !important;
      color: #888;
    }

    .button {
      float: right;
      color: #64A5BF;
      cursor: pointer;
    }
  }
}

.collapsable-no-margin {
  padding-bottom: 0;
}

.collapsable.collapsed {
  > header .button {
    color: #888;
  }

  > section {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    visibility: hidden;
  }
}

.notifications {
  background-color: $data-notification;
  padding: 0.5em;
  margin: 0.5em 0 0 0;
  display: none;
  border-top: 0.1em solid darken($data-notification, 10%);

  header {
    i {
      color: darken($data-notification, 40%);
    }

    h2 {
      color: darken($data-notification, 70%);
      margin: 0;
      font-size: 0.9em;
      text-align: left;
    }
  }
}

.primary-info {
  background-color: $data-info;
  padding: 0.5em;
  margin: 0.5em 0 0 0;
  display: none;
  border-top: 0.1em solid darken($data-info, 10%);

  header {
    i {
      margin-right: 1em;
      color: darken($data-info, 40%);
    }

    h2 {
      color: darken($data-info, 70%);
      margin: 0;
      font-size: 1.1em;
      text-align: left;
    }
  }
}

.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: #eee;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-top: 0.5em;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border: $tab-border;
    border-bottom: 0;
    border-bottom-color: #ccc;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: 0.5em 0.5em;
    box-shadow: 2px 0 2px -5px #111;
    min-width: 15%;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
      background-color: white;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }

    .flag {
      width: 1.5em;
      height: 1.5em;
      border: 0.1em solid #ccc;
      padding: 0;
      margin-right: 0.5em;
      vertical-align: middle;
    }

    span {
      font-size: 0.8em;
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }

  .tab-content.is-open {
    display: block;
  }
}

.indicator-list {

  table {
    font-size: 0.8em;
    table-layout: auto;

    tbody {
      cursor: pointer;
      background-color: #ccc;
    }

    tbody:hover {
      background-color: #bbb;
    }

    /* Universal Access */

    tbody[data-subindex="UNIVERSAL_ACCESS"] {
      background-color: rgba($data-universal-access, 0.6);
    }

    tbody[data-subindex="UNIVERSAL_ACCESS"][data-type="Component"] {
      background-color: rgba($data-universal-access, 0.4);
    }

    tbody[data-subindex="UNIVERSAL_ACCESS"][data-type="Primary"],
    tbody[data-subindex="UNIVERSAL_ACCESS"][data-type="Secondary"] {
      background-color: rgba($data-universal-access, 0.2);
      border-bottom: 0.1em solid lighten($data-universal-access, 10%);
    }

    tbody[data-subindex="UNIVERSAL_ACCESS"]:hover {
      background-color: rgba($data-universal-access, 0.8);
    }

    /* Freedom & Openness */

    tbody[data-subindex="FREEDOM_AND_OPENNESS"] {
      background-color: rgba($data-freedom-openness, 0.6);
    }

    tbody[data-subindex="FREEDOM_AND_OPENNESS"][data-type="Component"] {
      background-color: rgba($data-freedom-openness, 0.4);
    }

    tbody[data-subindex="FREEDOM_AND_OPENNESS"][data-type="Primary"],
    tbody[data-subindex="FREEDOM_AND_OPENNESS"][data-type="Secondary"] {
      background-color: rgba($data-freedom-openness, 0.2);
      border-bottom: 0.1em solid lighten($data-freedom-openness, 10%);
    }

    tbody[data-subindex="FREEDOM_AND_OPENNESS"]:hover {
      background-color: rgba($data-freedom-openness, 0.8);
    }

    /* Relevant Content & Use */

    tbody[data-subindex="RELEVANT_CONTENT_AND_USE"] {
      background-color: rgba($data-relevant-content-use, 0.6);
    }

    tbody[data-subindex="RELEVANT_CONTENT_AND_USE"][data-type="Component"] {
      background-color: rgba($data-relevant-content-use, 0.4);
    }

    tbody[data-subindex="RELEVANT_CONTENT_AND_USE"][data-type="Primary"],
    tbody[data-subindex="RELEVANT_CONTENT_AND_USE"][data-type="Secondary"] {
      background-color: rgba($data-relevant-content-use, 0.2);
      border-bottom: 0.1em solid darken($data-relevant-content-use, 10%);
    }

    tbody[data-subindex="RELEVANT_CONTENT_AND_USE"]:hover {
      background-color: rgba($data-relevant-content-use, 0.8);
    }

    /* Empowerment */

    tbody[data-subindex="EMPOWERMENT"] {
      background-color: rgba($data-empowerment, 0.6);
    }

    tbody[data-subindex="EMPOWERMENT"][data-type="Component"] {
      background-color: rgba($data-empowerment, 0.4);
    }

    tbody[data-subindex="EMPOWERMENT"][data-type="Primary"],
    tbody[data-subindex="EMPOWERMENT"][data-type="Secondary"] {
      background-color: rgba($data-empowerment, 0.2);
      border-bottom: 0.1em solid darken($data-empowerment, 10%);
    }

    tbody[data-subindex="EMPOWERMENT"]:hover {
      background-color: rgba($data-empowerment, 0.8);
    }

    tbody.last {
      border: none !important;
    }

    th {
      font-weight: 400;
    }

    td {
      border: none;
      padding: 0.4em 0.3em;
      vertical-align: middle;
    }

    td[data-title="Indicator"] {
      width: 50%;
      font-weight: 600;
    }

    td[data-title="Description"] {
      color: #333;
    }

    td[data-title="Weight"] {
      text-align: center;
    }

    td[data-title="Publish"] {
      text-align: center;
    }
  }
}

/* SIGNATURE */

.signature {
  display: none;
}

.visor {
  color: #222 !important;
}

.data-container{
  .help {
      float: right;
      text-align: center;
      color: #64A5BF;
      cursor: pointer;
      font-size: 0.8em;
  }

  h1 {
    margin-bottom: 0.2em !important;
    font-size: 2em;
  }

  div.first-section > div > h2 {
    margin: 0 0 1.5em 0.2em;
    color: #444;
    text-align: left;
    font-size: 1.1em;
  }

  section > h2 {
    text-align: left;
    margin: 0 0 1em 0 !important;
    font-size: 1.1em;
    padding: 0 0.3em !important;
  }

  .downloads {
    text-align: right;
    float: right;
    padding-top: 0.5em;
  }

  .indicator-selector {
    height: 2.6em;
    background: url(../images/select_arrow.png) no-repeat right white;
    border: 0.1em solid white;

    select {
      width: 100%;
      background: transparent;
      padding: 0.2em 2em 0.2em 0.5em;
      line-height: 1;
      border: 0.1em solid #aaa;
      border-radius: 0;
      height: 2.5em;
      -webkit-appearance: none;
      color: #333;
    }
  }
}

/* SELECT-BOX */

.select-bar {
  section {
    margin-top: 1em;
  }
}

.select-bar .fixed {
  top: 1em !important;
  padding-top: 0;
  height: 100%;
  overflow-y: hidden;

  div.select-box {
    position: absolute;
    width: 100%;
    transition-property: top;
    transition-duration: 0.3s;
  }
}

div.select-box {
  margin: 0 0 0.2em 0 !important;
  padding: 0;
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.4em 0.2em -0.2em #777;
  border-radius: 0 0 0.3em 0.3em;
  overflow: hidden;

  > div {
    padding: 0.5em 0.5em 0.8em 0.5em;
  }

  header {
    overflow: hidden;
  }

  h2 {
    margin-bottom: 1em !important;
    text-align: center;
  }

  div.circle-number {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.8em;
    margin: 0 auto 0.5em auto !important;
    background-color: nth($data-select-colours, 1);
    color: white;
    text-align: center;
    border-radius: 50%;
  }

  .bottom {
    margin: 0;
    font-size: 1.3em;
    padding: 0.1em;
    color: #333;
    text-align: center;
    border-bottom: 0.1em solid #888;
  }
}


div.select-box.first-box {
  z-index: 3;

  .bottom {
    background-color: nth($data-select-colours, 1);
    color: darken(nth($data-select-colours, 1), 30%);
    border-bottom-color: darken(nth($data-select-colours, 1), 20%);
  }

  div.circle-number {
    background-color: nth($data-select-colours, 1);
  }
}

div.select-box.second-box {
  z-index: 2;

  .bottom {
    background-color: nth($data-select-colours, 2);
    color: darken(nth($data-select-colours, 2), 15%);
    border-bottom-color: darken(nth($data-select-colours, 2), 10%);
  }

  div.circle-number {
    background-color: nth($data-select-colours, 2);
  }
}

div.select-box.third-box {
  z-index: 1;
  margin: 0 !important;

  .bottom {
    background-color: nth($data-select-colours, 3);
    color: darken(nth($data-select-colours, 3), 20%);
    border-bottom-color: darken(nth($data-select-colours, 3), 10%);
  }

  div.circle-number {
    background-color: nth($data-select-colours, 3);
  }
}

div.first-box {
  margin-top: 0 !important;
}

/* TIMELINE */

div.timeline {
  div.line {
    a.circle {
      width: 1.5em;
      height: 1.5em;
      border: none;
      background-color: #ccc;
    }

    a.circle.disabled {
      background-color: #eee;
      background-image: url(../images/cross.png);
      background-size: cover;
      border: 1px solid #ccc;
    }

    a.circle.disabled:hover {
      background-color: #eee !important;
    }
  }

  div.elements {
    .disabled a {
      text-decoration: none;
      color: #666;
    }
  }

  div.line:before {
    border: none;
  }

  div.line a.circle:hover, div.selected a.circle {
    background-color: darken(nth($data-select-colours, 2), 10%) !important;
  }

  div.element a {
    color: #333 !important;
    font-size: 0.9em;
  }
}

/* BOXES */

.data-box {
  header {
    overflow: hidden;
    margin-bottom: 0;
  }
}

.map-box {

}

.table-box {
  header {

    h2 {

    }
  }
}

div.middle-section {
  background-color: white;
  margin: 1em 0;

  section {
    padding: 0 !important;

    > div:first-child {
      @include outer-container;
      margin-bottom: 0.5em;
      clear: both;
    }
  }

  div {
    padding: 0;
  }

  div.box-mini {
    @include span-columns(2);
    background-color: #ccc;
    color: white;
    padding: 0.5em 0.5em 0.1em 0.5em;
    text-align: center;
    height: 7.5em;

    p {
      margin: 0.2em 0 0 0;
    }

    p:first-child {
      font-size: 0.9em;
    }

    .left {
      float: left;
      margin-top: 0.3em;
      font-weight: 300;
      color: nth($data-mini-background-colours, 2);
    }

    .right {
      float: right;
      margin-top: 0.3em;
      font-weight: 300;
      color: nth($data-mini-background-colours, 2);
    }

    .left.active, .right.active {
      color: darken(nth($data-mini-background-colours, 2), 10%);
      cursor: pointer;
    }

    .value {
      font-size: 2.3em;
      font-family: "Roboto" sans-serif;
      font-weight: 400;
      margin: 0 0 0.2em 0;
      display: table-cell;
      vertical-align: middle;
      width: 10%;
      height: 2.1em;
      color: white;
    }

    .higher-lower {
      font-size: 1.3em;
      height: 2.7em;
      line-height: 1.2em;
    }

    .indicator {
      font-size: 1em;
      height: 2.4em;
      height: 4.5em;
      display: block;
      width: 100%;
      overflow: hidden;
    }
  }

  div.box-mini:nth-child(3), div.box-mini:nth-child(4) {
    cursor: pointer;
  }

  @for $i from 1 to 7 {
    div.box-mini:nth-child(#{$i}) {
      background-color: rgba(nth($data-mini-background-colours, $i), 0.9);
    }
  }
}

div.country-box {
  padding: 0.5em;

  h2 {

  }

  .tabs {
    width: 100%;
    float: none;

    li {
      width: 100%;
      text-align: left;
    }
  }

  .selector ul {
    font-size: 0.85em;

    a {
      color: #222;
    }

    li.selected a {
      color: #111;

      div.circle {
        background-color: darken(nth($data-select-colours, 3), 10%) !important;
        color: white;
      }
    }

    li {
      margin-bottom: 0.3em;
      vertical-align: middle;

      ul {
        padding-left: 3em;
        margin-top: 0.3em;
      }

      div.title {
        margin-top: 0;
      }

      .hidden-plusOrMinus {
        display: none;
      }

      .plusOrMinus {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: 300;
        margin-right: 0.4em;
      }
    }

    div.circle {
      width: 1.3em;
      height: 1.3em;
      border: none;
      background-color: #ccc;
      padding-top: 0;
      line-height: 1.2em;
    }
  }
}

/* MAP */

div.map {
  clear: both;
  height: 33em;
  position: relative;

  > div {
    height: 32em;
    clear: both;
  }

  .colour-legend {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;

    div {
      height: 0.6em;
      margin: 0.4em 4% 0 4%;
      @include linear-gradient(to left, #E5E066, #83C04C, #1B7A65, #1B4E5A, #005475);
      float: left;
      width: 52%;
    }

    span {
      font-size: 0.9em;
      display: block;
      width: 20%;
    }

    span:first-child {
      float: left;
    }

    span:nth-child(2) {
      float: right;
    }
  }

  .buttons {
    display: none;
  }

  .visor {
    background-color: transparent;
    padding: 0 1em 0.5em 1em;
    min-height: 3.4em;
    z-index: 1000;
    bottom: -0.8em;

    .value {
      float: right;
      height: 100%;
      margin-top: 0.5em;
    }

    .country {
      overflow: hidden;
      height: 100%;

      .ranking {
        float: left;
        margin-right: 1em;
        margin-top: 0.5em;
        height: 100%;
      }

      .flag {
        float: left;
        margin-right: 1em;
        height: 100%;

        img {
          border: 0.1em solid #ccc;
          border-radius: 50%;
          margin-top: 0.65em;
        }
      }

      p {
        margin: 0;
        text-align: center;
      }

      p.name {

      }

      p.continent {
        font-size: 0.7em;
        color: #555;
      }
    }
  }

  .wrapper {
    height: 27em;
  }

  .legend {
    height: 5em;
    padding: 0 2.5em;

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33.33%;
        padding: 0.2em 0;
      }
    }

    .circle {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      float: left;
      margin-top: 0.2em;
      margin-right: 0.5em;
    }
  }
}


/* BARS */

div.bars {
  height: 10em;

  text.item-name {
    writing-mode: tb;
    glyph-orientation-vertical: 0;
    text-anchor: start !important;
    color: #666 !important;
  }

  text.item-name:nth-child(3n+1) {
    fill: #333 !important;
  }

  text.item-name:nth-child(3n) {
    fill: #777 !important;
  }

  text.item-name:nth-child(3n-1) {
    fill: #006a7c !important;
  }
}

/* TABS */

nav.tabs {
  ul {
    overflow: visible;
    box-sizing: content-box;
    list-style-type: none;
    padding-bottom: 2.2em;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0.5em 0;

    li {
      float: right;
      background-color: #fff;
      margin: 0 0.5em 0 0.2em;
    }

    li.selected {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #fff;
      border-radius: 0.3em;
      background-color: #fff;
      height: 2.3em;

      a {
        color: #777;
      }
    }

    a {
      float: left;
      display: block;
      color: #aaa;
      background: #fff;
      text-decoration: none;
      padding: 0.4em 4em 0.3em 4em;
    }

    a:hover {
      background: #fff;
    }
  }
}

.charts-view > div:nth-child(2) {
  display: none;
}

table.full-ranking {
  table-layout: auto;
  color: black;
  font-family: Arial, sans-serif;

  th {
    text-align: center;
    font-weight: normal;
    border-bottom-color: darken($data-table-background-color, 20%);
  }

  img {
    vertical-align: middle;
    margin-right: 1em;
  }

  img.flag {
    border: 0.1em solid #ccc;
  }

  td.big-number {
    font-size: 11em;
    line-height: 1em;
    padding: 0;
    color: #ccc;
    text-align: right !important;
    padding-right: 0.2em;
    min-width: 1.5em;
  }

  tr {
    cursor: pointer;
  }

  .circle {
    width: 2em;
    height: 2em;
    background-color: #666;
    color: white;
    padding-top: 0.2em;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }

  > thead {
    display: none;
  }

  > tbody {
    border-bottom: 0.1em solid #aaa;

    th {
      font-size: 0.7em;
      border-bottom-color: darken($data-table-background-color, 30%);
    }

    tbody {
      text-align: center;
    }
  }

  > tbody:hover {
    background-color: darken($data-table-background-color, 20%);

    .big-number {
      color: darken($data-table-background-color, 30%);
    }
  }

  tbody:last-child {
    border: none;
  }

  td {
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: none;
  }

  td[data-title="Country"] {
    width: 45%;
  }

  td[data-title="Continent"] {
    text-align: center;
    width: 25%;
    color: #555;
    font-size: 0.9em;
  }

  td[data-title="Value"] {
    text-align: right;
    width: 15%;

    div {
      background-color: #ccc;
      text-align: center;
      width: 5em;
      height: 5em;
      padding-top: 0.5em;
      border-radius: 50%;
      color: #000;

      p {
        margin: 0 0 0.5em 0;
        font-size: 0.8em;
        color: #333;
      }
    }
  }

  td[data-title="Tendency"] {
    width: 15%;

    div {
      height: 2.5em;

      .wesCountry-body .signature {
        display: none;
      }
    }
  }
}

/* COUNTRY SECTION */

.country-section {
  overflow: hidden;

  .tab-content {
    padding-bottom: 0;
  }

  p.continent {
    font-size: 0.9em;
    color: #555;
  }

  div.country-map {
    float: right;
    width: 45%;
    height: 15em;

    .visor {
      display: none;
    }

    .ATA {
      display: none;
    }
  }

  div.value {
    float: right;
    margin-right: 1em;
    width: 4em;
    height: 4em;
    text-align: center;
    border-radius: 50%;
    background-color: #0096af;
    color: white;
    font-weight: 500;

    p {
      font-size: 0.8em;
      margin: 0.6em 0 0 0;
    }
  }

  div.ranking {
    background-color: #f93845;
  }

  div.table-wrapper {
    float: left;
    width: 55%;
  }

  table {
    text-align: center;

    tbody, td {
      border: none;
    }

    td[data-title="Web Index Rank"] {
      font-size: 2em;
      line-height: 1em;
      color: #666;
    }

    th {
      font-size: 0.5em;
      text-align: center;
    }

    .chart {
      height: 4.5em;
    }
  }
}

.region-name strong {
  font-size: 1.2em;
  color: #1B4E5A;
  font-weight: 500;
}
