.data-right-content {
  min-height: 60em;
}

/* COLLAPSABLE */

.collapsable {
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.4em 0.2em -0.2em #777;
  padding: 0 0 0.5em 0;
  position: relative;
  overflow-y: hidden;

  section {
    padding: 0 0.5em;
  }

  header.collapsable-header {
    font-size: 1.2em;
    color: #888;
    border: none !important;
    margin: 0 0 0.2em 0 !important;
    overflow: hidden;
    padding: 0 0.5em;

    h2 {
      float: left;
      text-align: left;
      font-size: 1em;
      margin: 0 !important;
    }

    .button {
      float: right;
      color: #64A5BF;
      cursor: pointer;
    }
  }
}

.collapsable.collapsed {
  .button {
    color: #888 !important;
  }

  section {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

/* SIGNATURE */

.signature {
  display: none;
}

.visor {
  color: #222 !important;
}

.data-container{
  .help {
      float: right;
      text-align: center;
      color: #64A5BF;
      cursor: pointer;
      font-size: 0.8em;
  }

  h1 {
    margin-bottom: 1em !important;
    font-size: 2em;
  }

  section > h2 {
    text-align: left;
    margin: 0 0 1em 0 !important;
    font-size: 1.1em;
    padding: 0 0.3em !important;
  }

  .downloads {
    text-align: right;
  }

  .indicator-selector {
    height: 2.6em;
    background: url(../images/select_arrow.png) no-repeat right white;
    border: 0.1em solid white;

    select {
      width: 100%;
      background: transparent;
      padding: 0.2em 0.5em;
      line-height: 1;
      border: 0.1em solid #aaa;
      border-radius: 0;
      height: 2.5em;
      -webkit-appearance: none;
      color: #333;
    }
  }
}

/* SELECT-BOX */

.select-bar {

}

.select-bar.fixed {
  top: 1em !important;
  height: 100%;
  overflow-y: hidden;

  div.select-box {
    position: absolute;
    width: 100%;
    transition-property: top;
    transition-duration: 0.3s;
  }
}

div.select-box {
  margin: 0 0 0.2em 0 !important;
  padding: 0;
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0.4em 0.2em -0.2em #777;

  > div {
    padding: 0.5em 0.5em 0.8em 0.5em;
  }

  header {
    overflow: hidden;
  }

  h2 {
    margin-bottom: 1em !important;
    text-align: center;
  }

  div.circle-number {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.8em;
    margin: 0 auto 0.5em auto !important;
    background-color: nth($data-select-colours, 1);
    color: white;
    text-align: center;
    border-radius: 50%;
  }

  .bottom {
    margin: 0;
    font-size: 1.3em;
    padding: 0.1em;
    color: #333;
    text-align: center;
    border-bottom: 0.1em solid #888;
  }
}


div.select-box.first-box {
  z-index: 3;

  .bottom {
    background-color: nth($data-select-colours, 1);
    color: darken(nth($data-select-colours, 1), 30%);
    border-bottom-color: darken(nth($data-select-colours, 1), 20%);
  }

  div.circle-number {
    background-color: nth($data-select-colours, 1);
  }
}

div.select-box.second-box {
  z-index: 2;

  .bottom {
    background-color: nth($data-select-colours, 2);
    color: darken(nth($data-select-colours, 2), 15%);
    border-bottom-color: darken(nth($data-select-colours, 2), 10%);
  }

  div.circle-number {
    background-color: nth($data-select-colours, 2);
  }
}

div.select-box.third-box {
  z-index: 1;
  margin: 0 !important;

  .bottom {
    background-color: nth($data-select-colours, 3);
    color: darken(nth($data-select-colours, 3), 20%);
    border-bottom-color: darken(nth($data-select-colours, 3), 10%);
  }

  div.circle-number {
    background-color: nth($data-select-colours, 3);
  }
}

div.first-box {
  margin-top: 0 !important;
}

/* TIMELINE */

div.timeline {
  div.line {
    a.circle {
      width: 1.5em;
      height: 1.5em;
      border: none;
      background-color: #ccc;
    }
  }

  div.line:before {
    border: none;
  }

  div.line a.circle:hover, div.selected a.circle {
    background-color: darken(nth($data-select-colours, 2), 10%) !important;
  }

  div.element a {
    color: #333 !important;
    font-size: 0.9em;
  }
}

/* BOXES */

.data-box {
  background-color: #aaa;

  header {
    overflow: hidden;
    margin-bottom: 1em;
  }
}

.map-box {
  background-color: $data-map-background-color;
  margin-top: 0.5em;
}

.table-box {
  background-color: $data-table-background-color;
  margin-top: 1em;

  header {

    h2 {

    }
  }

  .view-more a {

  }
}

div.middle-section {
  margin-bottom: 1.5em;
  background-color: white;

  section > div:first-child {
    @include outer-container;
    margin-bottom: 0.5em;
    clear: both;
  }

  div {
    padding: 0;
  }

  div.box-mini {
    @include span-columns(2);
    background-color: #ccc;
    color: white;
    padding: 0.8em 0.5em 0.3em 0.5em;
    text-align: center;
    height: 7.5em;

    p {
      margin: 0.5em 0 0 0;
    }

    .value {
      font-size: 2.3em;
      font-family: "Roboto" sans-serif;
      font-weight: 300;
      margin: 0 0 0.2em 0;
      display: table-cell;
      vertical-align: middle;
      width: 10%;
      height: 1em;
    }

    .higher-lower {
      font-size: 1.3em;
      height: 2em;
      word-break: break-all;
    }
  }

  div.box-mini:nth-child(3), div.box-mini:nth-child(4) {
    cursor: pointer;
  }

  @for $i from 1 to 7 {
    div.box-mini:nth-child(#{$i}) {
      background-color: rgba(nth($data-mini-background-colours, $i), 0.9);
    }
  }
}

div.country-box {
  padding: 0.5em;

  h2 {

  }

  .tabs {
    width: 100%;
    float: none;

    li {
      width: 100%;
      text-align: left;
    }
  }

  .selector ul {
    font-size: 0.85em;

    a {
      color: #222;
    }

    li.selected a {
      color: #111;

      div.circle {
        background-color: darken(nth($data-select-colours, 3), 20%) !important;
        color: white;
      }
    }

    li {
      margin-bottom: 0.3em;
      vertical-align: middle;

      ul {
        padding-left: 3em;
        margin-top: 0.3em;
      }

      div.title {
        margin-top: 0;
      }

      .hidden-plusOrMinus {
        display: none;
      }

      .plusOrMinus {
        font-size: 1.5em;
        line-height: 1em;
        font-weight: 300;
        margin-right: 0.4em;
      }
    }

    div.circle {
      width: 1.3em;
      height: 1.3em;
      border: none;
      background-color: #ccc;
      padding-top: 0;
      line-height: 1.2em;
    }
  }
}

/* MAP */

div.map {
  height: 32em;
  clear: both;

  .buttons {
    display: none;
  }

  .visor {
    background-color: transparent;
    padding: 0 1em;
    min-height: 2.5em;

    .value {
      float: right;
      height: 100%;
      margin-top: 0.5em;
    }

    .country {
      overflow: hidden;
      height: 100%;

      .ranking {
        float: left;
        margin-right: 1em;
        margin-top: 0.5em;
        height: 100%;
      }

      .flag {
        float: left;
        margin-right: 1em;
        height: 100%;

        img {
          border: 0.1em solid #ccc;
          border-radius: 50%;
          margin-top: 0.65em;
        }
      }

      p {
        margin: 0;
        text-align: center;
      }

      p.name {

      }

      p.continent {
        font-size: 0.7em;
        color: #555;
      }
    }
  }

  .wrapper {
    height: 27em;
  }

  .legend {
    height: 5em;
    padding: 0 2.5em;

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 33.33%;
        padding: 0.2em 0;
      }
    }

    .circle {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      float: left;
      margin-top: 0.2em;
      margin-right: 0.5em;
    }
  }
}


/* BARS */

div.bars {
  height: 8.5em;
}

/* TABS */

nav.tabs {
  margin-top: 0.2em;
  overflow: hidden;
  width: 50%;
  min-width: 10em;
  float: right;

  ul {
    overflow: hidden;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    width: 100%;
    float: right;

    li {
      float: left;
      width: 50%;
      text-align: center;

      a {
        color: #444;
      }
    }

    li.selected span.circle {
      background-color: #006a7c;
    }
  }

  span.circle {
    display: inline-block;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: #ccc;
  }
}

.charts-view > div:nth-child(2) {
  display: none;
}

table.full-ranking {
  table-layout: auto;
  color: black;
  font-family: 'Varela Round', sans-serif;

  th {
    text-align: center;
    font-weight: normal;
    border-bottom-color: darken($data-table-background-color, 20%);
  }

  img {
    vertical-align: middle;
    margin-right: 1em;
  }

  img.flag {
    border: 0.1em solid #ccc;
  }

  td.big-number {
    font-size: 10em;
    line-height: 1em;
    padding: 0;
    color: #ccc;
    text-align: right !important;
    padding-right: 0.2em;
    min-width: 1.5em;
  }

  tr {
    cursor: pointer;
  }

  .circle {
    width: 2em;
    height: 2em;
    background-color: #666;
    color: white;
    padding-top: 0.2em;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }

  > thead {
    display: none;
  }

  > tbody {
    border-bottom: 0.1em solid #ccc;

    th {
      font-size: 0.7em;
      border-bottom-color: darken($data-table-background-color, 30%);
    }

    tbody {
      text-align: center;
    }
  }

  > tbody:hover {
    background-color: darken($data-table-background-color, 20%);

    .big-number {
      color: darken($data-table-background-color, 30%);
    }
  }

  .tbody-view-more {
    border: none;
  }

  tbody.hidden {
    display: none;
  }

  td {
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: none;
  }

  td[data-title="Country"] {
    width: 45%;
  }

  td[data-title="Continent"] {
    text-align: center;
    width: 25%;
    color: #555;
    font-size: 0.9em;
  }

  td[data-title="Value"] {
    text-align: right;
    width: 15%;

    div {
      background-color: #ccc;
      text-align: center;
      width: 5em;
      height: 5em;
      padding-top: 0.5em;
      border-radius: 50%;
      color: #000;

      p {
        margin: 0 0 0.5em 0;
        font-size: 0.8em;
        color: #333;
      }
    }
  }

  td[data-title="Tendency"] {
    width: 15%;

    div {
      height: 2.5em;

      .wesCountry-body .signature {
        display: none;
      }
    }
  }

  td.view-more {
    text-align: right;
    border-bottom: none;
    padding-bottom: 0;

    a {
      cursor: pointer;
    }
  }
}
