/* ILLUSTRATIONS */

div.illustrations {
  position: relative;
  background-color: $home-illustration-colour-back !important;

  @media (min-width: 60em) {
    background-color: transparent !important;
  }

  article:nth-child(3) header {
    background-color: $home-illustration-colour-third;

    @media (min-width: 67em) {
      background-color: transparent;
    }
  }

  article {
    display: none;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    header {
      position: absolute;
      left: 60%;
      top: 2.2em;

      @media (min-width: 50em) {
        top: 20%;
      }

      @media (min-width: 67em) {
        top: 30%;
      }

      width: 40%;
      color: white !important;
      font-size: 0.9em;

      @media (min-width: 60em) {
        font-size: 1.1em;
      }

      h1 {
        color: $home-illustration-colour-button !important;
        font-size: 1.4em !important;
        width: 80%;

        @media (min-width: 50em) {
          font-size: 1.6em !important;
        }

        @media (min-width: 60em) {
          font-size: 2em !important;
        }

        margin: 0 !important;
        text-align: left !important;

        strong {
          font-size: 1em;

          @media (min-width: 50em) {
            font-size: 1.2em;
          }

          @media (min-width: 67em) {
            font-size: 1.5em;
          }

          font-weight: normal;
        }
      }

      h2 {
        font-size: 1.4em !important;
        width: 80%;

        @media (min-width: 50em) {
          font-size: 1.6em !important;
        }

        @media (min-width: 60em) {
          font-size: 2em !important;
        }

        margin: 0 !important;
        text-align: left !important;

        strong {
          font-size: 1em;

          @media (min-width: 50em) {
            font-size: 1.6em !important;
          }

          @media (min-width: 67em) {
            font-size: 2.3em !important;
          }
        }
      }

      ol {
        overflow: hidden;
        padding: 0;
        margin-top: 1em;

        li {
          float: left;
          width: 40%;
          text-align: left;
        }
      }

      p {
        text-align: left !important;
        color: white !important;
        width: 80%;
        margin: 1em 0 0 0 !important;

        @media (min-width: 60em) {
          margin: 1em 0 0.1em 0 !important;
        }
      }
    }
  }

  article:first-of-type {
    display: block;
  }

  aside.illustration-buttons {
    width: 100%;
    text-align: center;
    overflow: hidden;

    @media (min-width: 60em) {
      padding-top: 3em;
      padding-right: 1em;
      width: 10%;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
    }

    a.circle {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 0.2em;

      @media (min-width: 60em) {
        margin: 0.2em 0 0.5em 0;
      }

      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      text-decoration: none;

      font-size: 2em;

      @media (min-width: 67em) {
        font-size: 2.6em;
      }

      width: 1.8em;
      height: 1.8em;

      padding-top: 0.1em;
      border-radius: 50%;

      background-color: rgba(20, 20, 20, 0.4);
      color: #ddd;
      text-align: center;
      border: 1px solid #666;
    }

    a.selected {
      background-color: $home-illustration-colour-button;
      color: #444;
      box-shadow: none;
      border: 1px solid transparent;
    }
  }
}

/* ACCORDION */

div.accordion {
  overflow: hidden;

  height: 36em;
  margin-top: -1.8em;

  @media (min-width: 64em) {
    height: 32em;
  }

  font-family: 'Raleway', sans-serif;
  position: relative;
  background-color: nth($home-accordion-colours, 1);

  #tab3 .extra {
    overflow: hidden;

    footer {
      background-color: nth($home-accordion-colours, 3);
    }
  }

  #tab4 .extra {
    padding-right: 0 !important;

    footer {
      background-color: nth($home-accordion-colours, 4);
    }

    #ATA {
      fill: transparent;
    }

    @media (min-width: 64em) {
      footer {
        background-color: transparent;
      }
    }
  }

  #tab1 {
    aside {
      background-color: nth($home-accordion-colours, 1);
    }

    @media (min-width: 64em) {
      aside {
        background-color: transparent;
      }
    }
  }

  article {
    background-color: #ccc;

    width: 100%;
    height: 70%;

    @media (min-width: 64em) {
      width: 70%;
      height: 100%;
      top: 0;
    }

    float: left;
    position: absolute;
    right: 0;
    overflow: hidden;
    transition-property: right, bottom;
    transition-duration: 0.5s;
    cursor: pointer;

    section.extra {
      position: absolute;
      width: 100%;
      height: 90%;
      top: 0;
      left: 0;
      text-align: left;
      padding-right: 2em;

      @media (min-width: 64em) {
        position: relative;
        top: auto;
        left: auto;
        width: 85.7%; /* 90% of 70% is 85.7% */
        height: 100%;
        float: left;
        padding-right: 0;
      }

      .visor {
        display: none;
      }

      .extra-container {
        width: 100%;
        height: 100%;
      }

      .extra-container-padding {
        padding-top: 1em;
        padding-left: 2em;
      }

      .signature {
        display: none;
      }

      .infographic-circles {
        padding-top: 1.5em;
        overflow: hidden;

        .circle {
          text-align: center;
        }

        > div {
          float: left;
          margin-right: 0.5em;
        }

        .model {
          display: none;
        }

        p {
          margin: 0 0 0.3em 0;
          font-size: 0.5em;
          min-width: 2.3em;
        }

        @media (min-width: 64em) {
          p {
            font-size: 0.7em;
          }
        }

        @media (min-width: 80em) {
          p {
            font-size: 1em;
          }
        }
      }

      #map {
        padding-top: 1em;

        @media (min-width: 64em) {
          padding-top: 0;
        }

          .land-group {
          transition-property: opacity;
          transition-delay: 0.1s;
          transition-duration: 0.8s;
        }
      }

      .infographic-percentage {
        p {
          overflow: hidden;
          margin-bottom: 1em;
        }

        img {
          width: 4%;
          margin-right: 0%;
          float: left;
          opacity: 0.3;
          transition-property: opacity;
          transition-delay: 0.5s;
          transition-duration: 0.8s;
        }

        @media (min-width: 70em) {
          img {
            width: 3%;
            margin-right: 1%;
          }
        }

        .infographic-icon {
          display: none;
        }
      }

      h2 {
        margin-bottom: 0.2em;
        font-size: 0.8em;
      }

      @media (min-width: 64em) {
        h2 {
          font-size: 1.8em;
        }
      }

      p {
        margin-top: 1em;
        margin-bottom: 1.55em;

        i {
          margin-right: 0.1em;
        }
      }

      footer {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 2em;
        padding-bottom: 1em;

        a {
          color: white;
          font-size: 0.9em;
        }
      }
    }

    aside {
      position: absolute;
      width: 100%;
      height: 12%;
      padding-top: 2%;
      bottom: 0;
      z-index: 100;

      @media (min-width: 64em) {
        position: relative;
        width: 14.3%; /* 10% of 70% is 14.3% */
        height: 100%;
        float: right;
        bottom: auto;
        padding-left: 1em;
        padding-top: 0;
        z-index: auto;
      }

      header {
        float: left;
        margin-top: -0.2em;

        @media (min-width: 64em) {
          margin-top: 0;
        }

        h1 {
          float: left;
          padding-left: 0.5em;
        }

        h2 {
          float: left;
          padding-top: 0.4em;
          margin-left: 0.8em;
        }

        @media (min-width: 64em) {
          width: 100%;
          float: none;

          h1 {
            float: none;
            padding-left: 0;
          }

          h2 {
            float: none;
            padding-top: 0;
            margin-left: 0;
          }
        }
      }

      > footer {
        text-align: center;
        position: relative;
        width: 15%;
        float: right;

        padding-bottom: 1.5em;

        i {
          font-size: 1.5em;
        }

        @media (min-width: 64em) {
          width: 100%;
          position: absolute;
          right: 0;
          bottom: 0;
          float: none;

          i {
            font-size: 3em;
          }
        }
      }
    }

    h1 {
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 0;
      color: white;
      padding-left: 0;
    }

    @media (min-width: 60em) {
      h1 {
        font-size: 2.3em;
        padding-left: 0;
      }
    }

    @media (min-width: 80em) {
      h1 {
        font-size: 3em;
      }
    }

    @media (min-width: 110em) {
      h1 {
        font-size: 4.5em;
      }
    }

    h2 {
      text-align: left;
      font-size: 1em;
      padding-left: 0.2em;
    }

    @media (min-width: 60em) {
      h2 {
        font-size: 0.7em;
      }
    }

    @media (min-width: 80em) {
      h2 {
        font-size: 1em;
      }
    }
  }

  @for $i from 1 to 5 {
    article:nth-child(#{$i}) {
      background-color: nth($home-accordion-colours, $i);
      box-shadow: 0 0.5em 0.2em -0.1em darken(nth($home-accordion-colours, if($i == 1, 1, $i - 1)), 10%);

      // Small screen: vertically placed
      bottom: ($i - 1) * 10%;

      @media (min-width: 64em) {
        // Big screen: horizontally placed
        box-shadow: 0.5em 0 0.2em -0.1em darken(nth($home-accordion-colours, if($i == 1, 1, $i - 1)), 10%);
        bottom: auto;
        right: if($i == 1, 0, 70% + ($i - 2) * 10%);
      }

      $i-colour: if($i == 4, 30%, 14%);

      i {
        color: darken(nth($home-accordion-colours, $i), 10%);
      }

      footer i {
        color: darken(nth($home-accordion-colours, $i), $i-colour);
      }

      .extra strong {
        color: darken(nth($home-accordion-colours, $i), 20%);
      }
    }
  }

  article:nth-child(4) {
    .extra strong {
      color: darken(nth($home-accordion-colours, 4), 50%);
    }
  }
}

/* BROWSER HAPPY */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* GRID */

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($base-accent-color, 30);
  $grid-item-border-size: 1em;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-full: 12;
  $grid-item-color: #222;
  $grid-item-height-small: 11em;
  $grid-item-height: 14em;

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height-small;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em 1em;
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 8 {
// assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;

        &:hover {
          background-color: darken($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  a.grid-item:hover {
    text-decoration: none;
  }

  .read-more {
    color: #222 !important;
    font-size: 0.8em;
  }

  .grid-item i {
      display: block;
      margin: auto;
      margin-bottom: 0.3em;
      color: white;
    }

  .grid-item h1 {
      color: #222;
      font-size: 1.5em;
      margin-bottom: .4em;
      text-align: center;
    }

  .grid-item p {
      margin: auto;
      color: $grid-item-color;
      @include media($medium-screen) {
        max-width: 95%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 90%;
      }
    }
  }

  .grid-item-full {
    @include grid-item-columns($grid-item-full);
    height: auto;
    padding: 0;
  }

  .grid-item-taller {
    height: $grid-item-height * 2;
  }

  .grid-item-image {
    background: url(/images/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .tweet {
    padding-top: 0.8em;
    padding-bottom: 0.2em;
    background-color: $tweet-colour !important;
    text-align: left;
    height: $grid-item-height;

    a {
      color: #3763A0;
    }

    header {
      a {
        color: black;
      }

      img {
        float: left;
        width: 4em;
        border-radius: 50%;
        margin-right: 2em;
      }

      i {
        float: left;
        margin-right: 0.4em;
        color: $tweet-bird;
      }

      .name {
        font-weight: bold;
        display: block;
      }

      .account {
        color: #555;
        display: block;
      }
    }

    p.content {
      clear: both;
      margin: 1em 0 0 0;
      color: #333;
    }
  }

  .tweet:hover {
    background-color: darken($tweet-colour, 10) !important;
  }

  .news {
    padding-top: 0.8em;
    padding-bottom: 0.2em;
    text-align: left;
    position: relative;
    height: $grid-item-height;

    header {
      color: #111;
      font-weight: bold;
    }

    p.content {
      margin: 1em 0;
    }

    iframe, img {
      display: none;
    }

    .read-more {
      color: $news-read-more;
      background-color: rgba($grid-item-background, 0.7);
      font-size: 1em;
      position: absolute;
      width: 100%;
      max-width: 100%;
      bottom: 0;
      left: 0;
      padding: 1em;
      text-transform: uppercase;

      a {
        color: #333;
      }
    }

    a:hover {
      color: white;
    }
  }

  .news:nth-of-type(1) {
    background-color: nth($news-colour, 1);

    .read-more {
      background-color: rgba(nth($news-colour, 1), 0.8);
    }
  }

  .news:nth-of-type(3) {
    background-color: nth($news-colour, 2);

    .read-more {
      background-color: rgba(nth($news-colour, 2), 0.8);
    }
  }

  .news:nth-of-type(5) {
    background-color: nth($news-colour, 3);

    .read-more {
      background-color: rgba(nth($news-colour, 3), 0.8);
    }
  }
}

.news-header {
  margin-bottom: 1.8em !important;
}

.ranking-bars {
  height: 10em;
}

.ranking-bars g > text {
  writing-mode: tb;
  glyph-orientation-vertical: 0;
  text-anchor: start !important;
  dominant-baseline: auto !important;
}

.ranking-bars g > text:nth-of-type(odd) {
  fill: #333 !important;
}

.ranking-bars g > text:first-of-type {
  fill: transparent !important;
}

/* NEWSLETTER BAR */

div.follow-box {
  background-color: white !important;
  padding: 0 !important;

  h1 {

  }

  button {
    background-color: #4076C2;
  }

  div.sign-up {
    background-color: nth($grid-item-colors, 6);
    padding: 1em;
    margin-bottom: 1em;
    height: 19em;

    p {
      margin: 0;
    }

    label {
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  div.links {
    background-color: $grid-item-share;
    padding: 2em 1em;

    ul {
      display: inline-block;
      overflow: hidden;
      width: 80%;
      margin-top: 0.2em;
    }

    li {
      float: left;
      width: 33.33%;
      text-align: center;

      i {
        color: $tweet-bird !important;
      }
    }

    li:first-child {
      text-align: left;
    }

    li:last-child {
      text-align: right;
    }
  }
}

.newsletter-bar {
  $newsletter-bar-border-color: $base-border-color;
  $newsletter-bar-border: 1px solid $newsletter-bar-border-color;
  $newsletter-bar-background: lighten($newsletter-bar-border-color, 10);

  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.newsletter-and-submit {
    position: relative;
    margin: 1em auto 0 auto;
    width: 90%;

    input[type=email] {
      @include appearance(none);
      width: 100%;
      padding: .5em .8em;
      font-size: .9em;
      font-style: italic;
      border-radius: $base-border-radius;
      margin: 0;

      &.mce_inline_error {
        background-color: white !important;
      }
    }

    button[type=submit] {
      @include position(absolute, 0em 0em 0em);
      left: auto;
      margin: 0;
      outline: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 5px 10px;
    }
  }

  .mce_inline_error {
    background-color: transparent !important;
    color: black !important;
  }

  .response {
    margin-top: 0.5em;
    color: #333;
    font-size: 0.9em;
  }
}

 /* RANKING */

 table.ranking {
   font-size: 0.8em;
   color: black;
   table-layout: auto;

   img.flag {
     float: left;
     vertical-align: middle;
   }

   p.country-name {
     margin: 0;
     display: inline-block;
     max-width: none;
     width: 80%;
     color: black;
   }

   tr.country-row {
     display: none;
   }

   tr.country-row:nth-child(1),
   tr.country-row:nth-child(2),
   tr.country-row:nth-child(3),
   tr.country-row:nth-child(4),
   tr.country-row:nth-child(5) {
     display: table-row;
   }

   td {
     min-width: 15%;
     padding: 0.8em 0;
     border-bottom: none;
     border-top: 0.1em solid #555;
   }

   td:first-child {
     width: 35%;
   }

   td:nth-child(2) {
     width: 10%;
   }

   td:nth-child(n+3) {
     font-family: Roboto, sans-serif;
   }

   th {
     font-size: 0.7em;
     vertical-align: middle;
     border-bottom: 0.2em solid #ddd;
     color: black;
     text-align: center;
   }
 }

/* LINE BEHIND TEXT */

.line-behind-text {
  border-bottom: 0.2em solid #CACACA;
  text-align: center;
  margin: 0 0.5em 1.5em 0.5em;
  clear: both;

  h1, h2, h3, h4, h5, h6, span {
    display: block;
    margin-bottom: 0em;
    background: white;
    color: #333;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 0 0.5em;
    position: relative;
    text-transform: uppercase;
    top: 0.9em;
  }
}
