{{>head}}
{{>header-index}}
  <p class="by">
    by
    <a href="http://www.webfoundation.org/" target="_blank" title="link opens in new window">
      <img src="images/wwwf.png" alt="World Wide Web Foundation">
    </a>
  </p>
  <div class="container">
    <aside class="left-bar">
      <h1>The Report</h1>
      <nav>
        <ul class="tags">
          <li><a href="#overview">1. Overview</a></li>
          <li><a href="#surveillance_and_censorship">2. Surveillance and censorship</a></li>
          <li><a href="#citizen_empowerment">3. Citizen empowerment</a></li>
          <li><a href="#net_neutrality">4. Net Neutrality</a></li>
          <li><a href="#gender">5. Gender</a></li>
          <li><a href="#conclusion">6. Conclusion</a></li>
        </ul>
      </nav>
    </aside>
    <section class="right-content">
      <article class="type-system-serif">
        <p class="type">1</p>
        <h1>Overview</h1>
        <nav>
          <ul class="tags secondary">
            <li><a href="#access_and_skills">Access and skills</a></li>
            <li><a href="#expanding_knowledge_and_participation">Expanding knowledge and participation</a></li>
            <li><a href="#civic_engagement_and_participation">The Web as a tool for civic engagement and participation</a></li>
            <li><a href="#freedom_and_openness">Freedom and openness</a></li>
            <li><a href="#recommendations">Recommendations</a></li>
          </ul>
        </nav>
        <h2>These override some of the styles specified in the <code>_variables.scss</code> and <code>_typography.scss</code> partials in <a href="//bitters.bourbon.io">Bitters</a>. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won&rsquo;t need the wrapping class <code>.type-system-name</code>.</h2>
        <img src="images/visualisation.png" />
        <h3>Subheading lorem</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
      </article>
      <article class="type-system-serif">
        <p class="type">2</p>
        <h1>Surveillance and censorship</h1>
        <h2>These override some of the styles specified in the <code>_variables.scss</code> and <code>_typography.scss</code> partials in <a href="//bitters.bourbon.io">Bitters</a>. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won&rsquo;t need the wrapping class <code>.type-system-name</code>.</h2>
        <img src="images/visualisation.png" />
        <h3>Subheading lorem</h3>
        <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
        <hr>
      </article>
    </section>
  </div>
{{>footer}}
