header, footer, aside, nav, article, main {
  display: block;
}

/* FLOAT */

.float-left: {
  float: left;
}

.float-right {
  float: right;
}

.overflow-auto {
  overflow: auto
}

/* TEXT */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* BODY */

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

/* ANCHORS */

a, a:link {
  text-decoration: none;
  color: #e0272a;
}

a:visited {
  color: #4B088A;
}

a:hover, a:active {
  color: #000;
  text-decoration: underline;
}

/* BUTTON */

button, input[type=button], input[type=submit] {
  background-color: #e0272a;
  border: none;
  padding: 0.3em 0;
  color: #fff;
  font-weight: 400;
}

/* HEADER */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  border-bottom: 0.1em solid #e0272a;
  color: #444;
}

header.site-header {
  background-color: #8BCE33;
  background-image: url(../img/world-small.png);
  background-size: cover;
  padding: 0;
  margin-bottom: 0;
}

header.site-header .main {
  padding: 0.5em 0.5em 0 0.5em;
}

header.site-header nav {
  overflow: auto;
}

header.site-header nav ul {
  float: left;
  padding: 0;
}

header.site-header nav li {
  float: left;
  list-style: none;
  padding: 0.5em 0;
  margin-right: 1em;
}

header.site-header nav li.active {
  border-bottom: 0.5em solid #e0272a;
}

header.site-header nav li a {
  color: #fff;
  font-weight: 600;
  text-transform: lowercase;
}

header.site-header .by {
  background-color: #fff;
  padding: 0.5em;
  margin: 0;
  text-align: right;
  font-weight: 300;
}

header.site-header .by img {
  vertical-align: middle;
  margin-left: 0.3em;
}

p.donate {
  float: right;
  background-color: #e0272a;
  margin-top: 1em;
}

p.donate a {
  display: inline-block;
  padding: 0.2em 0.5em;
  color: #fff;
  font-weight: 600;
}

/* MAIN */

main {
  padding: 0 0.5em;
}

/* ************************************************************************** */
/*                                    HOME                                    */
/* ************************************************************************** */

h2 i {
  color: #888;
}

/* VIDEO */

.video img {
  width: 100%;
}

/* NEWS BAR */

.news-bar article {
  border-bottom: 0.1em solid #ccc;
}

.news-bar article:last-of-type {
  border-bottom: none;
}

.news-bar h3 {
  font-size: 1em;
}

/* TWITTER BAR */

.twitter-bar article {
  border-bottom: 0.1em solid #ccc;
  padding-top: 0.4em;
}

.twitter-bar article:last-of-type {
  border-bottom: none;
}

.twitter-bar article header {
  font-size: 0.9em;
}

.twitter-bar article header a {
  color: #000;
  font-weight: bold;
}

.twitter-bar img {
  float: left;
  width: 2em;
  border: none;
  margin-right: 0.5em;
}

.twitter-bar time {
  color: #444;
  display: block;
  text-align: right;
}

/* FOLLOW */

.sign-up input {
  width: 100%;
  margin: 0.2em 0;
  font-size: 1.2em;
}

/* LINKS */

div.links ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

div.links li {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* RANKING TABLE */

table.ranking td {
  text-align: right;
}

table.ranking td:first-child {
  text-align: left;
}

table.ranking img {
  margin-right: 0.5em;
  margin-top: 0.2em;
  vertical-align: middle;
  float: left;
}

table.ranking p.country-name {
  padding-left: 1em;
  padding-top: 0;
}

/* QUICK LINKS */

.quick-links time {
  color: #666;
  display: block;
  text-align: right;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin-bottom: 1em;
}

.quick-links li i {
  color: #e0272a;
}

/* FOOTER */

footer.the-footer {
  background-color: #8BCE33;
  background-image: url(../img/world-small.png);
  background-size: cover;
  padding: 0.5em;
  margin-top: 3em;
}

footer.the-footer ul {
  margin: 0 0 1em 0;
  padding: 1em 0;
  overflow: auto;
}

footer.the-footer nav li {
  float: left;
  list-style: none;
  padding: 0.3em 1em 1em 0;
}

footer.the-footer nav li a {
  color: #fff;
  font-weight: 600;
  text-transform: lowercase;
}

footer.the-footer p.copyright {
  margin: 0 0 1em 0;
  padding-top: 1em;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  border-top: 0.1em dotted #fff;
}

/* ABOUT */

aside.about ul {
  padding: 0;
  list-style: none;
  overflow: auto;
}

aside.about ul li {
  float: left;
  margin-right: 1em;
}

aside.about ul li a {
  display: inline-block;
  background-color: #e0272a;
  font-weight: 600;
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

a.donate {
  background-color: #e0272a;
  font-weight: 600;
  color: #fff;
  padding: 0.2em 0.5em;
}

/* NEWS & MEDIA */

div.gallery div {
  overflow: hidden;
  margin-top: 1em;
}

div.gallery a {
  width: 33.33%;
  display: inline-block;
  float: left;
  margin: -0.1em 0;
  padding: 0;
}

div.gallery img {
  width: 100%;
  margin: 0;
}
