<div class="top">
  <a href="thewebindex.org" class="logo">
    <img src="images/webindex.png" alt="" />
  </a>
  <p class="donate">
    <a href="http://www.webfoundation.org/" target="_blank" title="link opens in new window">Donate now</a>
  </p>
  <nav>
    <ul>
      <li class="active"><a href="#index">Home</a> <span class="separator">|</span></li>
      <li><a href="#report">The Report</a> <span class="separator">|</span></li>
      <li><a href="data.html">The Data</a> <span class="separator">|</span></li>
      <li><a href="blog.html">Blog</a> <span class="separator">|</span></li>
      <li><a href="media.html">Media Centre</a> <span class="separator">|</span></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
</div>
